<%
customer_contacts = CustomerContact.find(:all, :conditions => {:customer_id => @customer.id})
%>

<div class="contextual">
  <%= link_to l(:label_customer_contact_new), {:controller => 'customer_plus', :action => 'contact_new', :customer_id => @customer.id}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_customer_contacts) %></h2>

<% unless customer_contacts.empty? %>
  <table class="list">
    <% customer_contacts.each do |contact| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>
        <%
          if User.current.admin? || User.current.allowed_to?({:controller => 'customer_plus', :action => 'contact_show'}, nil, {:global => true})
        %>
          <%= link_to contact.pretty_name, {:controller => 'customer_plus', :action => 'contact_show', :customer_id => @customer.id, :contact_id => contact.id, :project_id => @project} %>
        <%
          else
        %>
          <%= customer.pretty_name %>
        <%
          end
        %>
        </td>
        <td align="right">
          <small>
              <%= link_to_if_authorized_g l(:button_edit), {:controller => 'customer_plus', :action => 'contact_edit', :customer_id => @customer.id, :contact_id => contact.id}, {:class => 'icon icon-edit' } %>
              <%= link_to_if_authorized_g l(:button_delete), {:controller => 'customer_plus', :action => 'contact_destroy', :customer_id => @customer.id, :contact_id => contact.id}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
          </small>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>